*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Crimson Text', Georgia, "Times New Roman", Times, serif;
  transition: 0.3s;
}

html,
.root {
  font-size: 18px;
  line-height: 26px;
}

body,
.article {
  font-family: 'Crimson text';
  font-size: 1rem;
  line-height: 1.4375rem;
  max-width: 560px;
  display: flex;
  padding: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(90, 94, 116);
}

.hidden {
  display: none;
}

#reader {
  height: 80%;
}

#container-wrapper {
  position: relative;
  box-shadow: 0 4px 18px -8px rgb(48, 53, 81);
  height: 100%;
}

#transition-container {
  position: absolute;
  z-index: 2;
  height: 100%;
  background-color: royalblue;
  animation: pageturn .5s ease 0s;
}

@keyframes pageturn {

  0%,
  100% {
    width: 0px;
  }

  50% {
    width: 100%;
  }
}

#page-container {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 560px;
  height: 100%;
  background-color: rgb(254, 254, 252);
  border-radius: 4px;
  clip-path: inset(0px round 4px);
}

.content-scrollable {
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 1fr auto;
}

.page-content {
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.page-content * {
  width: 100%;
}

#ui-header {
  text-align: right;
  font-size: 0.8rem;
  letter-spacing: 0.03em;
  color: rgb(170, 174, 191);
  padding: 1rem;
  border-bottom: 1px solid hsla(227, 10%, 74%, .1);
  text-transform: uppercase;
}

#page-title {
  font-weight: 700;
  color: rgb(90, 94, 116);

}

#page-fragment {
  color: rgb(90, 94, 116);
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.01em;
}


.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 0px;
}

.btn-grid:hover>.choice-btn {
  background-color: rgb(250, 250, 249);
}

/* blue choices
.btn-grid:hover>.choice-btn:hover {
  color: rgb(67, 79, 156);
  background-color: rgb(153, 204, 255);
  border-top: 1px solid rgba(67, 79, 156, .1);
  border-bottom: 1px solid rgba(67, 79, 156, .1);
}*/

.btn-grid:hover>.choice-btn:hover {
  color: rgb(43, 105, 132);
  background-color: rgb(111, 226, 203);
  border-top: 1px solid rgba(43, 105, 132, .1);
  border-bottom: 1px solid rgba(43, 105, 132, .1);
}

.choice-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Rosario', sans-serif;
  font-size: 0.8rem;
  letter-spacing: .03em;
  padding: 1.05rem;
  color: rgb(90, 94, 116);
  background-color: rgb(254, 254, 252);
  border-left: none;
  border-right: none;
  border-top: 1px solid hsl(100, 2%, 95%);
  border-bottom: 1px solid hsl(100, 2%, 99%);
  margin: 0px;

}

.next-btn {
  text-align: right;
  justify-content: flex-end;
  font-style: italic;
}

/*.choice-btn:hover {
  background-color: hsl(100, 20%, 90%);
  color: hsl(100, 40%, 40%);
  border-top: 1px solid hsla(227, 10%, 74%, .1);
  border-bottom: 1px solid hsla(227, 10%, 74%, .1);
}*/

.btn-icon {
  padding-left: 1rem;
  padding-right: .5rem;
}

.material-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.rounded-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.rounded-bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}



h1,
.h1 {
  font-family: 'Crimson Pro';
  font-size: 8rem;
  line-height: 5.75rem;
  margin-top: 1.4375rem;
  margin-bottom: 2.875rem;
}

h2,
.h2 {
  font-family: 'crimson pro';
  font-size: 4rem;
  line-height: 4.3125rem;
  margin-top: 1.4375rem;
  margin-bottom: 1.4375rem;
}

h3,
.h3 {
  font-family: 'Crimson Pro';
  font-size: 2rem;
  line-height: 2.875rem;
  margin-top: 1.4375rem;
  margin-bottom: 0rem;
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 1.4375rem;
  margin-top: 1.4375rem;
  margin-bottom: 0rem;
}

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.4375rem;
  margin-top: 1.4375rem;
  margin-bottom: 0rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.4375rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


@media (max-width: 700px) {

  #reader {
    height: 100%;
  }

  #page-container {
    border-radius: 0px;
    clip-path: inset(0px round 0px);
  }

  .rounded-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .rounded-bottom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .page-content {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}